<mat-card *ngFor="let task of tasks | async" class="task" style="border: 3px solid black; margin: 10px 20px; max-width: 800px">
  <mat-label><b>Task</b> : </mat-label>
  {{ task.title }}
  <mat-form-field appearance="fill" style="margin-right: 10px">
    <mat-label>User</mat-label>
    <mat-select [value]="task.user?._id || ''" (valueChange)="changeUser(task.id, $event)">
      <mat-option value="">N/A</mat-option>
      <mat-option *ngFor="let user of users | async" [value]="user.id">{{ user.username }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [value]="task.status" (valueChange)="changeStatus(task.id, $event)">
      <mat-option value="new">New</mat-option>
      <mat-option value="in_progress">In progress</mat-option>
      <mat-option value="done">Done</mat-option>
    </mat-select>
  </mat-form-field>
  <img type="button" alt="delete" src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" style="width: 25px; margin-left: 10px; cursor: pointer; margin-bottom: 10px" (click)="removeTask(task.id)">
</mat-card>

