.t {
  white-space:nowrap;
  padding-left: 10px;
  padding-top: 10px;
}
.i {
  display: inline-block;
  width:100%;
  font-size: 30px;
  font-weight: bold;
}
.i + .i {
  position:relative;
  left:-100%;
  text-align: right;
  text-decoration: underline;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  color: #0000FF;
  padding-right: 10px;
}
