<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>
<form (ngSubmit)="addNewTask()" #f="ngForm" class="column">
<mat-form-field appearance="fill">
  <mat-label>Title of task</mat-label>
  <input name="title" matInput required ngModel>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select user</mat-label>
  <mat-select name="user" ngModel>
    <mat-option *ngFor="let user of users | async" [value]="user.id">{{ user.username }}</mat-option>
  </mat-select>
</mat-form-field>
  <div>
    <button mat-raised-button type="submit">Add</button>
  </div>
</form>
